@model Kirana.Core.View_Models.NewBasketSummaryViewModel

<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index", "Basket")">@Model.BasketCount items</a></li>
    <li><a href="@Url.Action("Index", "Basket")">Rs @String.Format("{0}", Model.BasketTotal)</a></li>
</ul>
